In [2]:
import pandas as pd
import numpy as np

In [4]:
df_2016 = pd.read_csv('../data/2016/2016_all.csv')
df_2017 = pd.read_csv('../data/2017/2017_all.csv')
df_2018 = pd.read_csv('../data/2018/2018_all.csv')
df_2019 = pd.read_csv('../data/2019/2019_all.csv')
df_2020 = pd.read_csv('../data/2020/2020_April_Dec.csv')
df_2021 = pd.read_csv('../data/2021/2021_all.csv')
df_2022 = pd.read_csv('../data/2022/2022_all.csv')

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/1618741606.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv('../data/2021/2021_all.csv')

In [5]:
# Sample based on specific column
sample_df_19 = df_2019.groupby('Start.station.number').apply(lambda x: x.sample(frac=0.1))

In [18]:
sample_df

                              Duration           Start.date  \
Start.station.number
0                    3398138       415  2019-12-31 21:06:09
                     3262683      1340  2019-12-05 08:57:09
                     3286668       410  2019-12-08 15:44:10
                     3357731       667  2019-12-21 19:06:57
                     3244062      1805  2019-12-02 21:07:27
...                                ...                  ...
32609                3234552       862  2019-11-30 14:26:07
                     1314058       315  2019-06-06 13:05:23
                     1900403       678  2019-07-27 14:30:57
                     1738878       252  2019-07-13 14:09:42
                     1709891      1443  2019-07-10 20:44:33

                                         End.date  Start.station.number  \
Start.station.number
0                    3398138  2019-12-31 21:13:05                     0
                     3262683  2019-12-05 09:19:30                     0
                     3286668  2019-12-08 15:51:01                     0
                     3357731  2019-12-21 19:18:04                     0
                     3244062  2019-12-02 21:37:32                     0
...                                           ...                   ...
32609                3234552  2019-11-30 14:40:30                 32609
                     1314058  2019-06-06 13:10:38                 32609
                     1900403  2019-07-27 14:42:16                 32609
                     1738878  2019-07-13 14:13:54                 32609
                     1709891  2019-07-10 21:08:37                 32609

                                                Start.station  \
Start.station.number
0                    3398138                   22nd & H St NW
                     3262683                   22nd & H St NW
                     3286668                   22nd & H St NW
                     3357731                   22nd & H St NW
                     3244062                   22nd & H St NW
...                                                       ...
32609                3234552  W Columbia St & N Washington St
                     1314058  W Columbia St & N Washington St
                     1900403  W Columbia St & N Washington St
                     1738878  W Columbia St & N Washington St
                     1709891  W Columbia St & N Washington St

                              End.station.number  \
Start.station.number
0                    3398138               31221
                     3262683               31285
                     3286668               31293
                     3357731               31295
                     3244062               31400
...                                          ...
32609                3234552               31921
                     1314058               31904
                     1900403               32600
                     1738878               32605
                     1709891               32609

                                                                    End.station  \
Start.station.number
0                    3398138                                     18th & M St NW
                     3262683                                     22nd & P ST NW
                     3286668                                 31st & Water St NW
                     3357731                                  Potomac & M St NW
                     3244062                     Georgia & New Hampshire Ave NW
...                                                                         ...
32609                3234552  Westover Library / Washington Blvd & N McKinle...
                     1314058  East Falls Church Metro / Sycamore St & 19th St N
                     1900403  George Mason High School / Haycock Rd & Leesbu...
                     1738878                       W Broad St & Little Falls St
                     1709891                    W Columbia St & N Washington St

                             Bike.number Member.type
Start.station.number
0                    3398138      W24344      Member
                     3262683      W01414      Member
                     3286668      W20375      Member
                     3357731      W22493      Member
                     3244062      W22156      Member
...                                  ...         ...
32609                3234552      W20872      Member
                     1314058      W00033      Member
                     1900403      W00365      Member
                     1738878      W23792      Member
                     1709891      W21002      Member

[339850 rows x 9 columns]

# Correct Appending Starts from Here

### ----------------------------------------------------------------------

# Append start latitude and longitude for 2016 using 2021 as reference

In [15]:
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['start_station_id'] = x['start_station_id'].astype(int)

x = x.drop_duplicates(subset=['start_station_id'])

x = x[['start_station_id' , 'start_lat', 'start_lng']]

x = x.rename(columns = {'start_station_id':'Start.station.number'})

y = df_2016.merge(x , on='Start.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/1244153496.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['start_station_id'] = x['start_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng
0,166,2016-01-01 00:06:58,2016-01-01 00:09:44,31102,11th & Kenyon St NW,31105,14th & Harvard St NW,W01346,Member,38.929464,-77.027822
1,448,2016-01-01 00:10:20,2016-01-01 00:17:48,32039,Old Georgetown Rd & Southwick St,32002,Bethesda Ave & Arlington Rd,W22202,Member,38.999634,-77.109647
2,715,2016-01-01 00:13:52,2016-01-01 00:25:48,31222,New York Ave & 15th St NW,31214,17th & Corcoran St NW,W21427,Member,38.899032,-77.033354
3,213,2016-01-01 00:15:29,2016-01-01 00:19:03,31506,1st & Rhode Island Ave NW,31509,New Jersey Ave & R St NW,W01294,Member,38.915417,-77.012289
4,872,2016-01-01 00:16:16,2016-01-01 00:30:49,31041,Prince St & Union St,31048,King St Metro South,W22058,Member,38.803120,-77.040350
...,...,...,...,...,...,...,...,...,...,...,...
3333989,614,2016-12-31 23:49:54,2017-01-01 00:00:09,31118,3rd & Elm St NW,31102,11th & Kenyon St NW,W20961,Member,38.917622,-77.015970
3333990,483,2016-12-31 23:51:58,2017-01-01 00:00:01,31612,D St & Maryland Ave NE,31628,1st & K St SE,W00381,Member,38.894758,-76.997114
3333991,438,2016-12-31 23:52:59,2017-01-01 00:00:18,31603,1st & M St NE,31506,1st & Rhode Island Ave NW,W00246,Casual,38.905697,-77.005483
3333992,1199,2016-12-31 23:53:53,2017-01-01 00:13:53,31249,Jefferson Memorial,31003,15th & Crystal Dr,W23100,Member,38.879819,-77.037413
3333993,824,2016-12-31 23:54:20,2017-01-01 00:08:05,31232,7th & F St NW / National Portrait Gallery,31290,17th St & Independence Ave SW,W01135,Member,38.897283,-77.022191

# Append end latitude and longitude for 2016 using 2021 as reference

In [19]:
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['end_station_id'] = x['end_station_id'].astype(int)

x = x.drop_duplicates(subset=['end_station_id'])

x = x[['end_station_id' , 'end_lat', 'end_lng']]

x = x.rename(columns = {'end_station_id':'End.station.number'})

y = y.merge(x , on='End.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/3169717017.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['end_station_id'] = x['end_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng,end_lat,end_lng
0,166,2016-01-01 00:06:58,2016-01-01 00:09:44,31102,11th & Kenyon St NW,31105,14th & Harvard St NW,W01346,Member,38.929464,-77.027822,38.926803,-77.032102
1,448,2016-01-01 00:10:20,2016-01-01 00:17:48,32039,Old Georgetown Rd & Southwick St,32002,Bethesda Ave & Arlington Rd,W22202,Member,38.999634,-77.109647,38.981103,-77.097426
2,715,2016-01-01 00:13:52,2016-01-01 00:25:48,31222,New York Ave & 15th St NW,31214,17th & Corcoran St NW,W21427,Member,38.899032,-77.033354,38.912100,-77.038700
3,213,2016-01-01 00:15:29,2016-01-01 00:19:03,31506,1st & Rhode Island Ave NW,31509,New Jersey Ave & R St NW,W01294,Member,38.915417,-77.012289,38.912659,-77.017669
4,872,2016-01-01 00:16:16,2016-01-01 00:30:49,31041,Prince St & Union St,31048,King St Metro South,W22058,Member,38.803120,-77.040350,38.805763,-77.060627
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3333989,614,2016-12-31 23:49:54,2017-01-01 00:00:09,31118,3rd & Elm St NW,31102,11th & Kenyon St NW,W20961,Member,38.917622,-77.015970,38.929380,-77.027788
3333990,483,2016-12-31 23:51:58,2017-01-01 00:00:01,31612,D St & Maryland Ave NE,31628,1st & K St SE,W00381,Member,38.894758,-76.997114,38.879311,-77.005666
3333991,438,2016-12-31 23:52:59,2017-01-01 00:00:18,31603,1st & M St NE,31506,1st & Rhode Island Ave NW,W00246,Casual,38.905697,-77.005483,38.915417,-77.012289
3333992,1199,2016-12-31 23:53:53,2017-01-01 00:13:53,31249,Jefferson Memorial,31003,15th & Crystal Dr,W23100,Member,38.879819,-77.037413,38.860170,-77.049593
3333993,824,2016-12-31 23:54:20,2017-01-01 00:08:05,31232,7th & F St NW / National Portrait Gallery,31290,17th St & Independence Ave SW,W01135,Member,38.897283,-77.022191,38.888097,-77.038325

In [30]:
y["start_lng"].isna().sum()
y["end_lng"].isna().sum()

5361

In [24]:
y.to_csv("../data/2016/df_2016_geospatial.csv", index=False) # about 5.5k NA's for both start and end geo coords

# Append start latitude and longitude for 2017 using 2021 as reference

In [35]:
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['start_station_id'] = x['start_station_id'].astype(int)

x = x.drop_duplicates(subset=['start_station_id'])

x = x[['start_station_id' , 'start_lat', 'start_lng']]

x = x.rename(columns = {'start_station_id':'Start.station.number'})

y = df_2017.merge(x , on='Start.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/3560888567.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['start_station_id'] = x['start_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member,38.875010,-77.002400
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual,38.888255,-77.049436
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual,38.890539,-77.049383
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual,38.890539,-77.049383
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual,38.888255,-77.049436
...,...,...,...,...,...,...,...,...,...,...,...
3757772,277,2017-12-31 23:43:17,2017-12-31 23:47:54,31109,7th & T St NW,31118,3rd & Elm St NW,W21036,Member,38.915500,-77.022200
3757773,399,2017-12-31 23:51:55,2017-12-31 23:58:35,31125,15th & W St NW,31110,20th St & Florida Ave NW,W23147,Casual,38.919018,-77.034449
3757774,393,2017-12-31 23:55:19,2018-01-01 00:01:52,31209,1st & N St SE,31609,Maine Ave & 7th St SW,W20144,Member,38.874300,-77.005700
3757775,1319,2017-12-31 23:57:42,2018-01-01 00:19:42,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W20860,Member,38.929464,-77.027822
3757776,266,2017-12-31 23:58:21,2018-01-01 00:02:48,31229,New Hampshire Ave & T St NW,31119,14th & Belmont St NW,W01459,Member,38.915544,-77.038252

# Append end latitude and longitude for 2017 using 2021 as reference

In [36]:
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['end_station_id'] = x['end_station_id'].astype(int)

x = x.drop_duplicates(subset=['end_station_id'])

x = x[['end_station_id' , 'end_lat', 'end_lng']]

x = x.rename(columns = {'end_station_id':'End.station.number'})

y = y.merge(x , on='End.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/3169717017.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['end_station_id'] = x['end_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng,end_lat,end_lng
0,221,2017-01-01 00:00:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member,38.875010,-77.002400,38.876300,-77.003700
1,1676,2017-01-01 00:06:53,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual,38.888255,-77.049436,38.894851,-77.023240
2,1356,2017-01-01 00:07:10,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual,38.890539,-77.049383,38.899032,-77.033354
3,1327,2017-01-01 00:07:22,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual,38.890539,-77.049383,38.899032,-77.033354
4,1636,2017-01-01 00:07:36,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual,38.888255,-77.049436,38.894851,-77.023240
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757772,277,2017-12-31 23:43:17,2017-12-31 23:47:54,31109,7th & T St NW,31118,3rd & Elm St NW,W21036,Member,38.915500,-77.022200,38.917622,-77.015970
3757773,399,2017-12-31 23:51:55,2017-12-31 23:58:35,31125,15th & W St NW,31110,20th St & Florida Ave NW,W23147,Casual,38.919018,-77.034449,38.915400,-77.044600
3757774,393,2017-12-31 23:55:19,2018-01-01 00:01:52,31209,1st & N St SE,31609,Maine Ave & 7th St SW,W20144,Member,38.874300,-77.005700,38.878694,-77.023054
3757775,1319,2017-12-31 23:57:42,2018-01-01 00:19:42,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W20860,Member,38.929464,-77.027822,38.929380,-77.027788
3757776,266,2017-12-31 23:58:21,2018-01-01 00:02:48,31229,New Hampshire Ave & T St NW,31119,14th & Belmont St NW,W01459,Member,38.915544,-77.038252,38.921074,-77.031887

In [38]:
print(y["start_lng"].isna().sum())
print(y["end_lng"].isna().sum())

7219
7616

In [39]:
y.to_csv("../data/2017/df_2017_geospatial.csv", index=False) # about 7.5k NA's for both start and end geo coords

# Append start latitude and longitude for 2018 using 2021 as reference

In [40]:
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['start_station_id'] = x['start_station_id'].astype(int)

x = x.drop_duplicates(subset=['start_station_id'])

x = x[['start_station_id' , 'start_lat', 'start_lng']]

x = x.rename(columns = {'start_station_id':'Start.station.number'})

y = df_2018.merge(x , on='Start.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/392504582.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['start_station_id'] = x['start_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng
0,552,2018-01-01 00:05:06,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member,38.922925,-77.042581
1,1282,2018-01-01 00:14:30,2018-01-01 00:35:53,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W01435,Casual,38.892244,-77.033234
2,1265,2018-01-01 00:14:53,2018-01-01 00:35:58,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W21242,Casual,38.892244,-77.033234
3,578,2018-01-01 00:15:31,2018-01-01 00:25:09,31406,14th & Upshur St NW,31103,16th & Harvard St NW,W21322,Casual,38.942541,-77.032632
4,372,2018-01-01 00:18:02,2018-01-01 00:24:15,31618,4th & East Capitol St NE,31619,Lincoln Park / 13th & East Capitol St NE,W00119,Member,38.889995,-77.000332
...,...,...,...,...,...,...,...,...,...,...,...
3542679,3313,2018-12-31 23:37:22,2019-01-01 00:32:36,31615,6th & H St NE,31624,North Capitol St & F St NW,W00159,Member,38.899972,-76.998347
3542680,888,2018-12-31 23:42:18,2018-12-31 23:57:07,31618,4th & East Capitol St NE,31509,New Jersey Ave & R St NW,W22026,Member,38.889995,-77.000332
3542681,2332,2018-12-31 23:44:23,2019-01-01 00:23:16,31907,Franklin & S Washington St,32406,Fleet St & Waterfront St,W23900,Member,38.798133,-77.048700
3542682,307,2018-12-31 23:52:42,2018-12-31 23:57:50,31114,18th St & Wyoming Ave NW,31103,16th & Harvard St NW,W00761,Member,38.918856,-77.041559
3542683,1062,2018-12-31 23:54:09,2019-01-01 00:11:52,31110,20th St & Florida Ave NW,31014,Lynn & 19th St North,W21324,Member,38.915400,-77.044600

# Append end latitude and longitude for 2017 using 2021 as reference

In [41]:
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['end_station_id'] = x['end_station_id'].astype(int)

x = x.drop_duplicates(subset=['end_station_id'])

x = x[['end_station_id' , 'end_lat', 'end_lng']]

x = x.rename(columns = {'end_station_id':'End.station.number'})

y = y.merge(x , on='End.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/3169717017.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['end_station_id'] = x['end_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng,end_lat,end_lng
0,552,2018-01-01 00:05:06,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member,38.922925,-77.042581,38.936684,-77.024181
1,1282,2018-01-01 00:14:30,2018-01-01 00:35:53,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W01435,Casual,38.892244,-77.033234,38.892244,-77.033234
2,1265,2018-01-01 00:14:53,2018-01-01 00:35:58,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W21242,Casual,38.892244,-77.033234,38.892244,-77.033234
3,578,2018-01-01 00:15:31,2018-01-01 00:25:09,31406,14th & Upshur St NW,31103,16th & Harvard St NW,W21322,Casual,38.942541,-77.032632,38.926088,-77.036536
4,372,2018-01-01 00:18:02,2018-01-01 00:24:15,31618,4th & East Capitol St NE,31619,Lincoln Park / 13th & East Capitol St NE,W00119,Member,38.889995,-77.000332,38.890461,-76.988355
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3542679,3313,2018-12-31 23:37:22,2019-01-01 00:32:36,31615,6th & H St NE,31624,North Capitol St & F St NW,W00159,Member,38.899972,-76.998347,38.897446,-77.009888
3542680,888,2018-12-31 23:42:18,2018-12-31 23:57:07,31618,4th & East Capitol St NE,31509,New Jersey Ave & R St NW,W22026,Member,38.889995,-77.000332,38.912659,-77.017669
3542681,2332,2018-12-31 23:44:23,2019-01-01 00:23:16,31907,Franklin & S Washington St,32406,Fleet St & Waterfront St,W23900,Member,38.798133,-77.048700,38.782633,-77.016059
3542682,307,2018-12-31 23:52:42,2018-12-31 23:57:50,31114,18th St & Wyoming Ave NW,31103,16th & Harvard St NW,W00761,Member,38.918856,-77.041559,38.926088,-77.036536
3542683,1062,2018-12-31 23:54:09,2019-01-01 00:11:52,31110,20th St & Florida Ave NW,31014,Lynn & 19th St North,W21324,Member,38.915400,-77.044600,38.897315,-77.070993

In [42]:
print(y["start_lng"].isna().sum())
print(y["end_lng"].isna().sum())

5654
5851

In [43]:
y.to_csv("../data/2018/df_2018_geospatial.csv", index=False) # about 5.5k NA's for both start and end geo coords

# Append start latitude and longitude for 2019 using 2021 as reference

In [44]:
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['start_station_id'] = x['start_station_id'].astype(int)

x = x.drop_duplicates(subset=['start_station_id'])

x = x[['start_station_id' , 'start_lat', 'start_lng']]

x = x.rename(columns = {'start_station_id':'Start.station.number'})

y = df_2019.merge(x , on='Start.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/474960954.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['start_station_id'] = x['start_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,14th & Rhode Island Ave NW,31200,Massachusetts Ave & Dupont Circle NW,E00141,Member,38.908499,-77.032458
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,15th St & Constitution Ave NW,31114,18th St & Wyoming Ave NW,W24067,Casual,38.892244,-77.033234
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,Adams Mill & Columbia Rd NW,31323,Woodley Park Metro / Calvert St & Connecticut ...,W22654,Casual,38.922925,-77.042581
3,228,2019-01-01 00:08:47,2019-01-01 00:12:35,31281,8th & O St NW,31280,11th & S St NW,W22336,Member,38.908640,-77.022770
4,1300,2019-01-01 00:12:29,2019-01-01 00:34:10,31014,Lynn & 19th St North,31923,Columbia Pike & S Taylor St,70004,Member,38.897315,-77.070993
...,...,...,...,...,...,...,...,...,...,...,...
3398412,130,2019-12-31 23:57:36,2019-12-31 23:59:46,31011,Crystal Dr & 23rd St S,31009,Crystal Dr & 27th St S,W21285,Member,38.853300,-77.049800
3398413,664,2019-12-31 23:57:47,2020-01-01 00:08:51,31125,15th & W St NW,31281,8th & O St NW,W24197,Member,38.919018,-77.034449
3398414,389,2019-12-31 23:59:37,2020-01-01 00:06:06,31047,Braddock Rd Metro,31085,Mount Vernon Ave & E Nelson Ave,W21281,Member,38.814577,-77.052808
3398415,962,2019-12-31 23:59:38,2020-01-01 00:15:40,31236,37th & O St NW / Georgetown University,31214,17th & Corcoran St NW,W00534,Member,38.907821,-77.071611
3398416,183,2019-12-31 23:59:55,2020-01-01 00:02:58,31227,13th St & New York Ave NW,31254,15th & K St NW,W22782,Member,38.900283,-77.029822

# Append end latitude and longitude for 2019 using 2021 as reference

In [45]:
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['end_station_id'] = x['end_station_id'].astype(int)

x = x.drop_duplicates(subset=['end_station_id'])

x = x[['end_station_id' , 'end_lat', 'end_lng']]

x = x.rename(columns = {'end_station_id':'End.station.number'})

y = y.merge(x , on='End.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/3169717017.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['end_station_id'] = x['end_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng,end_lat,end_lng
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,14th & Rhode Island Ave NW,31200,Massachusetts Ave & Dupont Circle NW,E00141,Member,38.908499,-77.032458,38.910100,-77.044400
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,15th St & Constitution Ave NW,31114,18th St & Wyoming Ave NW,W24067,Casual,38.892244,-77.033234,38.918809,-77.041571
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,Adams Mill & Columbia Rd NW,31323,Woodley Park Metro / Calvert St & Connecticut ...,W22654,Casual,38.922925,-77.042581,38.923389,-77.051833
3,228,2019-01-01 00:08:47,2019-01-01 00:12:35,31281,8th & O St NW,31280,11th & S St NW,W22336,Member,38.908640,-77.022770,38.913761,-77.027025
4,1300,2019-01-01 00:12:29,2019-01-01 00:34:10,31014,Lynn & 19th St North,31923,Columbia Pike & S Taylor St,70004,Member,38.897315,-77.070993,38.858524,-77.103728
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3398412,130,2019-12-31 23:57:36,2019-12-31 23:59:46,31011,Crystal Dr & 23rd St S,31009,Crystal Dr & 27th St S,W21285,Member,38.853300,-77.049800,38.848466,-77.051514
3398413,664,2019-12-31 23:57:47,2020-01-01 00:08:51,31125,15th & W St NW,31281,8th & O St NW,W24197,Member,38.919018,-77.034449,38.908640,-77.022770
3398414,389,2019-12-31 23:59:37,2020-01-01 00:06:06,31047,Braddock Rd Metro,31085,Mount Vernon Ave & E Nelson Ave,W21281,Member,38.814577,-77.052808,38.820064,-77.057619
3398415,962,2019-12-31 23:59:38,2020-01-01 00:15:40,31236,37th & O St NW / Georgetown University,31214,17th & Corcoran St NW,W00534,Member,38.907821,-77.071611,38.912100,-77.038700
3398416,183,2019-12-31 23:59:55,2020-01-01 00:02:58,31227,13th St & New York Ave NW,31254,15th & K St NW,W22782,Member,38.900283,-77.029822,38.902000,-77.033530

In [46]:
print(y["start_lng"].isna().sum())
print(y["end_lng"].isna().sum())

1032
954

In [47]:
y.to_csv("../data/2019/df_2019_geospatial.csv", index=False) # about 1k NA's for both start and end geo coords

# Append start latitude and longitude for 2020 (Jan-March) using 2021 as reference

In [51]:
df_2020_Jan_March = pd.read_csv('../data/2020_Jan_March/2020_Jan_March.csv')
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['start_station_id'] = x['start_station_id'].astype(int)

x = x.drop_duplicates(subset=['start_station_id'])

x = x[['start_station_id' , 'start_lat', 'start_lng']]

x = x.rename(columns = {'start_station_id':'Start.station.number'})

y = df_2020_Jan_March.merge(x , on='Start.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/3473888966.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['start_station_id'] = x['start_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng
0,506,2020-01-01 00:00:59,2020-01-01 00:09:26,31623,Columbus Circle / Union Station,31658,Rosedale Rec Center,W22189,Member,38.896960,-77.004930
1,1050,2020-01-01 00:01:16,2020-01-01 00:18:47,31613,Eastern Market Metro / Pennsylvania Ave & 7th ...,31606,Potomac & Pennsylvania Ave SE,W21067,Member,38.884260,-76.994736
2,1687,2020-01-01 00:02:42,2020-01-01 00:30:50,31218,L'Enfant Plaza / 7th & C St SW,31271,Constitution Ave & 2nd St NW/DOL,W24359,Member,38.886266,-77.022241
3,182,2020-01-01 00:02:44,2020-01-01 00:05:47,31627,3rd & M St NE,31508,Gallaudet / 8th St & Florida Ave NE,W23334,Member,38.905510,-77.002198
4,1002,2020-01-01 00:06:12,2020-01-01 00:22:54,31247,Jefferson Dr & 14th St SW,31274,10th & G St NW,W23441,Member,38.888553,-77.032427
...,...,...,...,...,...,...,...,...,...,...,...
537395,673,2020-03-31 23:17:58,2020-03-31 23:29:12,31235,19th St & Constitution Ave NW,31265,5th St & Massachusetts Ave NW,W22920,Member,38.892483,-77.043608
537396,514,2020-03-31 23:18:13,2020-03-31 23:26:47,31203,14th & Rhode Island Ave NW,31324,18th & New Hampshire Ave NW,21054,Member,38.908499,-77.032458
537397,1524,2020-03-31 23:29:00,2020-03-31 23:54:25,31110,20th St & Florida Ave NW,31403,5th & Kennedy St NW,W24341,Member,38.915400,-77.044600
537398,565,2020-03-31 23:41:17,2020-03-31 23:50:43,31603,1st & M St NE,31256,10th & E St NW,W22691,Member,38.905697,-77.005483
537399,1054,2020-03-31 23:45:05,2020-04-01 00:02:40,31325,Reservoir Rd & 38th St NW,31214,17th & Corcoran St NW,W24051,Member,38.912672,-77.074352

# Append end latitude and longitude for 2020 (Jan-March) using 2021 as reference

In [52]:
x = df_2021

#x['start_station_id'] = pd.to_numeric(x['start_station_id'])
x = x.dropna()
x['end_station_id'] = x['end_station_id'].astype(int)

x = x.drop_duplicates(subset=['end_station_id'])

x = x[['end_station_id' , 'end_lat', 'end_lng']]

x = x.rename(columns = {'end_station_id':'End.station.number'})

y = y.merge(x , on='End.station.number', how='left')
y

/var/folders/r6/q0qh39ts70582wth4g1dhjhm0000gn/T/ipykernel_12344/3169717017.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['end_station_id'] = x['end_station_id'].astype(int)

,Duration,Start.date,End.date,Start.station.number,Start.station,End.station.number,End.station,Bike.number,Member.type,start_lat,start_lng,end_lat,end_lng
0,506,2020-01-01 00:00:59,2020-01-01 00:09:26,31623,Columbus Circle / Union Station,31658,Rosedale Rec Center,W22189,Member,38.896960,-77.004930,38.897808,-76.979634
1,1050,2020-01-01 00:01:16,2020-01-01 00:18:47,31613,Eastern Market Metro / Pennsylvania Ave & 7th ...,31606,Potomac & Pennsylvania Ave SE,W21067,Member,38.884260,-76.994736,38.880300,-76.986200
2,1687,2020-01-01 00:02:42,2020-01-01 00:30:50,31218,L'Enfant Plaza / 7th & C St SW,31271,Constitution Ave & 2nd St NW/DOL,W24359,Member,38.886266,-77.022241,38.892275,-77.013917
3,182,2020-01-01 00:02:44,2020-01-01 00:05:47,31627,3rd & M St NE,31508,Gallaudet / 8th St & Florida Ave NE,W23334,Member,38.905510,-77.002198,38.905090,-76.994100
4,1002,2020-01-01 00:06:12,2020-01-01 00:22:54,31247,Jefferson Dr & 14th St SW,31274,10th & G St NW,W23441,Member,38.888553,-77.032427,38.898243,-77.026235
...,...,...,...,...,...,...,...,...,...,...,...,...,...
537395,673,2020-03-31 23:17:58,2020-03-31 23:29:12,31235,19th St & Constitution Ave NW,31265,5th St & Massachusetts Ave NW,W22920,Member,38.892483,-77.043608,38.900930,-77.018677
537396,514,2020-03-31 23:18:13,2020-03-31 23:26:47,31203,14th & Rhode Island Ave NW,31324,18th & New Hampshire Ave NW,21054,Member,38.908499,-77.032458,38.911268,-77.041829
537397,1524,2020-03-31 23:29:00,2020-03-31 23:54:25,31110,20th St & Florida Ave NW,31403,5th & Kennedy St NW,W24341,Member,38.915400,-77.044600,38.956605,-77.019813
537398,565,2020-03-31 23:41:17,2020-03-31 23:50:43,31603,1st & M St NE,31256,10th & E St NW,W22691,Member,38.905697,-77.005483,38.896152,-77.026253
537399,1054,2020-03-31 23:45:05,2020-04-01 00:02:40,31325,Reservoir Rd & 38th St NW,31214,17th & Corcoran St NW,W24051,Member,38.912672,-77.074352,38.912100,-77.038700

In [53]:
print(y["start_lng"].isna().sum())
print(y["end_lng"].isna().sum())

301
338

In [54]:
y.to_csv("../data/2020_Jan_March/df_2020_Jan_March_geospatial.csv", index=False) # about 300 NA's for both start and end geo coords